# Build Results
bin/
obj/

# Dlls
*.dll
*.exe

# Code::Blocks files
*.cbp
*.depend
*.layout
*.cscope_file_list

# xCode files
*.xcodeproj
*.plist

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

TestSave/

